.networkGamesContainer {
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: white;
    margin: 0 0 16px;
}

.networkGamesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px;
}

.gamesBackButton {
    color: grey;
    background-color: white;
    padding: 6px 6px 6px 10px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-right: 10px;
}

.gamesForwardButton {
    color: grey;
    background-color: white;
    padding: 6px 6px 6px 10px;
    border: 1px solid grey;
    border-radius: 50%;
}