.moreProfilesContainer {
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moreProfilesHeader {
    padding: 12px 12px 0;
}

.moreProfilesHeader p {
    padding: 12px 12px 0;
    font-size: 16px;
    font-weight: 600;
}

.recProfile {
    display: flex;
    padding: 12px 24px;
}

.recProfileContainer {
    display: flex;
    flex-direction: column;
}

.recProfileContainer .separator {
    margin: 0;
    width: 92%;
    align-self: center;
}

.recProfileImg img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 8px;
}

.recProfileTitle {
    display: flex;
    align-items: center;
    padding: 0 0 4px;
}

.recProfileDegree {
    font-size: 14px;
    color: #00000099;
}

.recProfileName {
    font-size: 16px;
    font-weight: 600;
    color: #000000E6;
}

.recProfileBio {
    font-size: 14px;
    line-height: 20px;
    width: 96%;
}

.recProfileButton {
    padding: 8px 0;
}

.recProfileButton button {
    font-size: 16px;
    color: #000000BF;
    background: none;
    border: 1px solid #000000BF;
    border-radius: 24px;
    padding: 6px 16px;
    font-weight: 600;
}

.recProfileButton button:hover {
    background-color: #8C8C8C1A;
    border: 2px solid #000000BF;
    padding: 5px 15px;
}

.profileConnectButton {
    display: flex;
    align-items: center;
}

.profileConnectButton span {
    margin-left: 3px;
}

.moreProfilesShowAll .separator {
    margin: 0;
}

.showAllButton {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.showAllButton span {
    font-weight: 600;
    color: #000000BF;
    padding: 10px 8px;
}

.showAllButton:hover {
    background-color: #8C8C8C1A;
}

@media only screen and (max-width: 770px) {
    .recProfileRight {
        width: 100%;
    }
}