.profileContainer {
    display: flex;
    padding-top: 24px;
    background-color: #F4F2EE;
}

.profileMainFeed {
    width: 43%;
    margin-left: 20%;
    margin-right: 22px;
}

.profileRightPane {
    width: 16%;
}