.profileContainer {
    display: flex;
    justify-content: center;
    gap: 22px;
    padding: 24px 0;
    background-color: #F4F2EE;
}

.profileMainFeed {
    width: 804px;
}

.profileRightPane {
    width: 300px;
}

@media only screen and (max-width: 1200px) {
    .profileMainFeed {
        width: 636px;
    }
}

@media only screen and (max-width: 1000px) {
    .profileMainFeed {
        width: 396px;
    }
}

@media only screen and (max-width: 770px) {
    .profileContainer {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .profileMainFeed,
    .profileRightPane {
        width: 576px;
    }
}

@media only screen and (max-width: 615px) {

    .profileMainFeed,
    .profileRightPane {
        width: 100%;
    }
}