.profileInformationContainer {
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: white;
}

.profileBannerContainer img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profileUserInformationContainer {
    margin-top: -120px;
}

#userImageAndEditIcon {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#userImageAndEditIcon img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 4px solid white;
    margin-left: 20px;
}

.mainFeedEditIcon {
    margin-right: 20px;
}

.mainFeedEditIcon:hover {
    background-color: lightgrey;
    border-radius: 50%;
}

.userNameContainer {
    display: flex;
    align-items: start;
}

.userInformation {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 15px 0 0 20px;
}

#profileUsername {
    font-size: 22px;
    font-weight: 600;
}

#profileUsername:hover {
    background-color: lightgrey;
    border-radius: 3px;
}

#profilePronouns {
    font-size: 14px;
    color: grey;
    margin: 3px 0 0 4px;
}

#profileAbout {
    font-size: 15px;
    margin-top: 3px;
}

.userLocationContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}

#profileLocation {
    color: grey;
    margin-right: 4px;
}

#profileContactInfo {
    color: #0A66C2;
    font-weight: 600;
    margin-left: 4px;
}

#profileContactInfo:hover {
    text-decoration: underline;
}

.profileConnections {
    color: #0A66C2;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}

.profileConnections:hover {
    text-decoration: underline;
}

.userInfoRightColumn {
    display: flex;
    align-items: center;
    line-height: 17px;
    font-size: 14px;
    font-weight: 600;
    width: 207px;
    margin-right: 45px;
}

.userInfoRightColumn img {
    height: 30px;
    width: 30px;
    margin-right: 7px;
}

.userInfoRightColumn p:hover {
    color: #0A66C2;
    text-decoration: underline;
}

.profileInformationButtons {
    display: flex;
    margin: 10px 0 10px 20px;
}

.profileButton {
    padding: 7px 18px;
    border-radius: 24px;
    margin-right: 7px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
}

.profileOpenToButton {
    color: white;
    background-color: #0A66C2;
    border: none;
}

.profileOpenToButton:hover {
    background-color: #004182;
}

.profileAddSectionButton {
    border: 1px solid #0A66C2;
    color: #0A66C2;
    background-color: white;
}

.profileAddSectionButton:hover {
    border: 2px solid #004182;
    color: rgb(0, 65, 130);
    background-color: rgb(0, 65, 130, 0.1);
    padding: 6px 17px;
}

.profileEnhanceProfileButton {
    border: 1px solid #0A66C2;
    color: #0A66C2;
    background-color: white;
}

.profileEnhanceProfileButton:hover {
    border: 2px solid #004182;
    color: rgb(0, 65, 130);
    background-color: rgb(0, 65, 130, 0.1);
    padding: 6px 17px;
}

.profileResourcesButton {
    border: 1px solid grey;
    color: grey;
    background-color: white;
}

.profileResourcesButton:hover {
    border: 2px solid black;
    color: black;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 6px 17px;
}