.homeContainer {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F4F2EE;
}

.homeColumn {
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
}

.leftPane {
    width: 13%;
    margin-top: 15px;
    margin-left: 20%;
}

.mainFeed {
    width: 30%;
}

.rightPane {
    width: 15%;
    margin-right: 0;
    margin-top: 15px;
}