.homeContainer {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: #F4F2EE;
    padding: 0 20%;
}

.homeColumn {
    margin-right: 20px;
    box-sizing: border-box;
}

.leftPane {
    flex: 9%;
    margin-top: 15px;
}

.mainFeed {
    flex: 40%;
}

.rightPane {
    flex: 16%;
    margin-right: 0;
    margin-top: 15px;
}

@media only screen and (max-width: 1600px) {
    .homeContainer {
        padding: 0 15%;
    }

    .leftPane {
        flex: 18%;
    }

    .mainFeed {
        flex: 50%;
    }

    .rightPane {
        flex: 25%;
    }
}

@media only screen and (max-width: 1360px) {
    .homeContainer {
        padding: 0 10%;
    }

    .leftPane {
        flex: 20%;
    }

    .mainFeed {
        flex: 45%;
    }

    .rightPane {
        flex: 20%;
    }
}

@media only screen and (max-width: 1110px) {
    .homeContainer {
        padding: 0 5%;
    }

    .mainFeed {
        flex: 40%;
    }

    .rightPane {
        flex: 25%;
    }
}

@media only screen and (max-width: 990px) {
    .homeContainer {
        padding: 0 10%;
    }

    .leftPane {
        flex: 0%;
    }

    .mainFeed {
        flex: 35%;
    }

    .rightPane {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .homeContainer {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 750px) {
    .homeContainer {
        padding: 0 5%;
    }

    .leftPane {
        display: none;
    }

    .mainFeed {
        flex: 100%;
    }
}