.homeContainer {
    width: 100%;
    overflow: hidden;
}

.homeColumn {
    float: left;
}

.leftPane {
    width: 13%;
    margin: 15px 0 0 20%
}

.rightPane {
    width: 15%;
    margin-left: 33%;
}