.messagingPageContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 24px;
    background-color: #F4F2EE;
    height: calc(100vh - 55px);
}

.messagingMainFeed {
    width: 780px;
}

.messagingRightPane {
    width: 300px;
}

@media only screen and (max-width: 1110px) {
    .messagingPageContainer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: calc(100vh + 80px);
        gap: 0;
    }

    .messagingMainFeed {
        width: 720px;
    }

    .messagingRightPane {
        display: block;
        width: 720px;
        justify-self: center;
    }

    .messagingPremiumAdContainer {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .messagingPageContainer {
        height: calc(100vh + 90px);
    }

    .messagingMainFeed {
        width: 100%;
    }

    .messagingRightPane {
        width: 80%;
    }
}

@media only screen and (max-width: 641px) {
    .messagingPageContainer {
        height: calc(100vh - 40px);
    }

    .messagingRightPane {
        display: none;
    }
}