.profileExperienceContainer {
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: white;
    margin-top: 7px;
}

.profileExperienceHeader {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 12px 0;
}

.profileExperienceHeader p {
    padding: 12px 12px 0;
}

.profileHeaderButtons {
    display: flex;
    align-items: center;
    padding: 12px 12px 0;
}

.profileHeaderButtons button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.experiencesContainer {
    display: flex;
    padding: 12px 24px;
}

.profileExperienceImage {
    width: 60px;
}

.profileExperienceImage img {
    height: fit-content;
    width: 48px;
    margin-top: 5px;
}

.profileExperienceDescription {
    font-size: 14px;
}

.experienceTitle {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 3px;
}

.experienceCompany {
    padding-bottom: 3px;
}

.experienceStartEndDates,
.experienceLocation {
    color: #00000099;
    padding-bottom: 3px;
}

.experienceDescription {
    margin-left: 15px;
}

.experienceDescription li {
    padding-bottom: 4px;
}

.editProfileEntry {
    align-self: flex-start;
    margin-left: auto;
    border: none;
    background: none;
}

@media only screen and (max-width: 1000px) {
    .experiencesContainer {
        gap: 10px;
    }
}