.messageBoxContainer {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: white;
    font-family: 'Arial', sans-serif;
    width: 288px;
    position: fixed;
    right: 1%;
    bottom: 0%;
}

.messageBoxBody {
    border: 1px solid lightgrey;
    height: 60vh;
}

.messageBoxHeader {
    border: 1px solid lightgrey;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

.messageBoxHeaderLeft {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin: 0 4px;
    padding: 4px;
}

.messageBoxHeaderLeft img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.messageBoxHeaderRight {
    display: flex;
    align-items: center;
}

.messageBoxHeaderRight button {
    border: none;
    background: none;
}

.messageBoxContainer .separator {
    margin: 0;
}

.messageBoxSearchContainer {
    padding: 8px 12px;
}

.messageBoxSearchInput {
    display: flex;
    align-items: center;
    background-color: #EDF3F8;
    padding: 4px 10px;
    border-radius: 4px;
}

.messageBoxSearchInput:hover {
    border: 2px solid black;
    padding: 2px 8px;
}

.messageBoxSearchInputLeft {
    display: flex;
    align-items: center;
}

.messageBoxSearchInput input {
    border: none;
    background: none;
    margin-left: 2px;
}

.messageBoxSearchInput input:focus {
    outline: none;
}

.messageBoxToggle {
    display: flex;
    align-items: center;
}

.messageBoxToggle button {
    border: none;
    background-color: white;
    font-size: 14px;
    padding: 9px 8px 11px;
    flex: 1;
    color: #000000BF;
}

.messageBoxToggle button:hover {
    background-color: #8C8C8C1A;
}

.messageBoxToggle button:focus {
    color: #004C33;
    padding-bottom: 9px;
    border-bottom: 2px solid #004C33;
}

.messageBoxMessage {
    display: flex;
    padding: 4px 0 0 8px;
    cursor: pointer;
}

.messageBoxMessage:hover {
    background-color: whitesmoke;
}

.messageBoxMessage img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-top: 8px;
}

.messageBoxMessageRight {
    padding: 8px 12px 8px 8px;
    border-bottom: 1px solid lightgrey;
}

.messageBoxMessageRight .messageSender {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #00000099;
    padding: 0 0 4px;
}

.messageSenderName {
    font-size: 14px;
    color: #000000E6;
}

.messageBoxMessageText {
    font-size: 12px;
    color: #00000099;
}

.openedMessagesContainer {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0%;
    left: 5%;
    width: 78%;
}

@media only screen and (max-width: 820px) {
    .messagesWidget {
        display: none;
    }
}