.buttonPanelContainer {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 15px 12px;
    background-color: white;
}

.buttonPanelIcons {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px 0;
}

.buttonPanelIcons p {
    padding-left: 8px;
}

.buttonPanelIcons:hover {
    text-decoration: underline;
}