.addExperienceContainer {
    position: absolute;
    top: 40%;
    left: 30%;
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: white;
}

.addExperienceForm {
    padding: 16px 24px;
}

.addExperienceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.addExperienceHeader p {
    font-size: 20px;
    padding: 16px 48px 2px 24px;
}

.addExperienceCloseButton {
    padding: 16px 12px 2px 24px;
    cursor: pointer;
}

.addExperienceCloseButton:hover {
    background-color: #8C8C8C1A;
    padding: 8px;
    border-radius: 50%;
    margin: 8px 4px -6px 16px;
}

.indicatesRequired {
    font-size: 12px;
    color: #00000099;
    margin-bottom: 24px;
}

.addExperienceTextForm {
    padding: 0 0 24px;
}

.addExperienceTextForm p {
    font-size: 14px;
    color: #00000099;
    padding-bottom: 2px;
}

.addExperienceTextForm input {
    width: 100%;
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 7px;
}

.currentlyWorkingHereCheckbox {
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding-bottom: 24px;
}

.currentlyWorkingHereCheckbox p {
    padding-left: 12px;
    font-size: 14px;
    color: #000000BF;
}

.currentlyWorkingHereCheckbox input {
    height: 24px;
    width: 24px;
}

.addExperienceDates p {
    font-size: 14px;
    color: #00000099;
    padding-bottom: 2px;
}

.datesInputContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.addExperienceDates input {
    width: 49%;
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 7px;
}

.addExperienceDescription {
    padding: 0 0 24px;
}

.addExperienceDescription p {
    font-size: 14px;
    color: #00000099;
    padding-bottom: 2px;
}

.addExperienceDescription textarea {
    width: 100%;
    height: 91px;
    padding: 7px 0 0 7px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border: none;
}

.descriptionTextAreaContainer {
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 2px;
}

.descriptionTextAreaContainer .separator {
    margin-top: -3px;
    margin-bottom: 0;
}

.descriptionAiAdContainer {
    display: flex;
    align-items: center;
    padding: 12px;
}

.descriptionAiAdContainer p {
    font-size: 14px;
}

.descriptionAiAdContainer span {
    color: #0A66C2;
    font-weight: 600;
    padding-left: 2px;
}

.descriptionAiAdContainer span:hover {
    text-decoration: underline;
}

.experienceDescriptionLength {
    width: 30px;
    margin-left: auto;
    margin-right: 17px;
}

.profileHeaderInfo {
    font-size: 12px !important;
    padding-top: 2px;
    color: #00000099;
}

.experienceJobFoundInfo {
    padding-top: 2px;
}

.addExperienceButtonGroups div {
    font-size: 20px;
    margin: 0 0 4px;
}

.addExperienceButtonGroups p {
    font-size: 14px;
    margin: 0 0 8px;
}

.addExperienceButtons {
    display: flex;
    align-items: center;
    background-color: white;
    color: #0A66C2;
    padding: 4px 14px;
    border: 1px solid #0A66C2;
    border-radius: 30px;
}

.addExperienceButtons:hover {
    border: 2px solid rgb(10, 102, 194);
    background-color: rgb(10, 102, 194, 0.1);
    padding: 3px 13px;
}

.addExperienceButtons span {
    font-size: 16px;
    padding-top: 2px;
}

.addExperienceButtonGroups p span {
    color: #0A66C2;
}

.addExperienceButtonGroups p span:hover {
    text-decoration: underline;
}

.addSkillsButton {
    margin-bottom: 32px;
}

.addExperienceBottomSeparator {
    margin: 0;
}

.experienceSaveButtonContainer {
    padding: 16px 24px;
    display: flex;
    flex-direction: row-reverse;
}

.experienceSaveButtonContainer button {
    color: white;
    background-color: #0A66C2;
    padding: 6px 16px;
    border: none;
    border-radius: 22px;
}

.experienceSaveButtonContainer button span {
    font-size: 16px;
}