.footer {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666;
    text-align: center;
    padding: 20px 0;
    /* width: 13%;
    margin: 15px 0 0 71%; */
}

.footerLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.footerLinks a {
    text-decoration: none;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.footerLinks a:hover {
    text-decoration: underline;
}

.dropdownIcon {
    font-size: 16px;
    margin-left: 2px;
}

.footerBottom {
    font-size: 12px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.linkedinLogo {
    width: 60px;
    height: auto;
}