.messagesFeedContainer {
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 780px;
    height: 92.5vh;
}

.messagesFeedHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messagesFeedHeaderLeft {
    display: flex;
    align-items: center;
}

.messagesFeedHeaderLeft p {
    padding: 0 4px 0 16px;
    font-weight: bold;
}

.messagesFeedInputContainer {
    display: flex;
    align-items: center;
    background-color: #EDF3F8;
    margin: 8px 12px;
    border-radius: 4px;
}

.messagesFeedInputContainer input {
    border: none;
    background-color: #EDF3F8;
    padding: 10px 10px 10px 6px;
}

.messagesFeedHeaderRight {
    margin-right: 8px;
}

.messagesFeedContainer .separator {
    margin: 0;
}

.messagesFeedButtons {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

button {
    cursor: pointer;
}

.messagesFeedFocusedButton {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #01754F;
    border: none;
    border-radius: 24px;
    padding: 6px 11px 6px 16px;
    margin: 0 8px 0 16px;
}

.messagesFeedFocusedButton:hover {
    background-color: #004C33;
}

.messagesFeedFocusedButton span {
    margin-left: 5px;
}

.divider {
    height: 28px;
    width: 1px;
    background-color: grey;
    margin: 4px 8px 4px 0;
}

.messagesFeedButtonShared {
    font-size: 16px;
    font-weight: 600;
    color: #000000BF;
    border: 1px solid lightgrey;
    border-radius: 24px;
    background-color: white;
    padding: 8px 12px;
    margin-right: 8px;
}

.messagesFeedButtonShared:hover {
    border: 2px solid grey;
    padding: 7px 11px;
    background-color: #8C8C8C1A;
}

.messagesFeedColumns {
    display: flex;
}

.messagesFeedLeftColumn {
    width: 42%;
    overflow-y: scroll;
}

.messagesFeedRightColumn {
    width: 58%;
}

.messagePreviewContainer {
    display: flex;
    align-items: center;
}

.selected {
    border-left: 2px solid #01754F;
    margin-left: -2px;
    background-color: #EDF3F8;
}

.messagePreviewContainer:hover {
    background-color: #00000014;
}

.messagePreviewUserImage img {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    margin-left: 12px;
}

.messageInformation {
    padding: 12px 8px;
    border-bottom: 1px solid lightgrey;
}

.messageInformation div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messageInformationDate {
    font-size: 14px;
}

.messageInformation>p {
    font-size: 14px;
    color: #00000099;
    padding-top: 3px;
    line-height: 1.3em;
    width: 80%;
}

@media only screen and (max-width: 1110px) {
    .messagesFeedContainer {
        position: static;
        height: 100%;
        width: 720px;
    }
}

@media only screen and (max-width: 770px) {
    .messagesFeedContainer {
        width: 100%;
    }
}